# Your private key (default: User 1)
PRIVATE_KEY=

## Bind Address (0.0.0.0 for external access, 127.0.0.1 for local only)
BIND_ADDR=0.0.0.0

## Ports
RPC_PORT=8545
WS_PORT=8546
AUTH_RPC_PORT=8551
BEACON_RPC_PORT=4000
BEACON_GRPC_GATEWAY_PORT=3500
